.container {
  padding-top: 30px;
}

#teams-container {
  background-color: rgb(227,219,203);
}

.marshie {
  height: 200px;
  margin-bottom: 5px;
}

.row {
  padding-top: 60px
}

.main {
  font-size: 1.3rem;
}

.left-paragraph {
  text-align: right;
}

.right-paragraph {
  text-align: left;
}

@media all and (max-width: 768px) {
  .row { padding-top: 35px; }
  .left-paragraph { text-align: center; }
  .right-paragraph { text-align: center; }
}

.row .col-md-9 {
   display: flex;
   align-items: center;
}

.blue {
  color: #2875cc;
}

.green {
  color: #009050;
}

.red {
  color: #ff3f46;
}
