/* Variables
================================ */
:root {
  /* Colors (palette comes from `bitcamp-brand/bitcamp.css`) */
  --color-primary: var(--color-bitcamp);
  --color-dark-font: black;

  /* Fonts */
  --body-font: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --title-font: "Aleo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


  /* Sizing */
  --border-radius: 20px;
  --title-underline-size: 3px;

  /* Transistions */
  --transition-timing: 250ms ease-in-out;
}


/* General Layout
================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* Typography
================================ */
body {
  font-family: var(--body-font);
  line-height: 1.15;
  color: var(--color-dark-font);
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: bold;
}

.section-title {
  position: relative;
  padding: 0;
  margin-left: calc(var(--bs-gutter-x)/ 2);
  margin-right: auto;
  width: initial;
  padding-bottom: var(--title-underline-size);
}


.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  max-width: 6rem;
  height: var(--title-underline-size);
  background-color: var(--color-dark-font);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Navigation
================================ */

/* Hero
================================ */

/* What is Bitcamp?
================================ */

/* Tracks
================================ */

/* Schedule
================================ */

/* FAQ
================================ */

/* Sponsors
================================ */

/* Footer
================================ */

.footer-main-text {
  text-align: center;
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
}

hr.divider {
  height: 7px;
  opacity: 1;
  color: var(--color-dark-font);
  margin-top: 2rem;
}

.social-icons a {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.social-icons img {
  width: 3rem;
  padding: 0.25rem;
  transition: transform var(--transition-timing);
}

.social-icons {
  margin: 2rem auto;
  text-align: center;
  /* Inline-block whitespace removal hack (https://davidwalsh.name/remove-whitespace-inline-block) */
  font-size: 0;
}

.social-icons a:hover {
  text-decoration: none;
}

.social-icons a:hover img {
  transform: scale(1.25);
}


.footer-links {
  text-align: center;
}

.footer-links a {
  font-family: var(--body-font);
  color: var(--color-dark-font);
}

.copyright {
  font-family: var(--body-font);
  color: var(--color-dark-font);
  text-align: center;
  margin: 1rem auto 2rem;
  font-size: 0.875rem;
}
