/* Variables
================================ */
:root {
  /* Colors (palette comes from `bitcamp-brand/bitcamp.css`) */
  --color-primary: var(--color-bitcamp);
  --color-dark-font: black;

  /* Fonts */
  --body-font: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --title-font: "Aleo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Sizing */
  --border-radius: 20px;
  --title-underline-size: 3px;
  --nav-height: 3rem;

  /* https://css-tricks.com/simplified-fluid-typography/ */
  --font-size: min(max(1rem, 4vw), 22px);

  /* Transitions */
  --transition-timing: 300ms ease-in-out;
}


/* General Layout
================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: var(--nav-height);
}


/* Typography
================================ */
html {
  font-family: var(--body-font);
  line-height: 1.15;
  color: var(--color-dark-font);
  /* Fallback for old browsers */
  font-size: 1rem;
  font-size: var(--font-size);
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: bold;
}

.section-title {
  position: relative;
  padding: 0;
  margin-left: calc(var(--bs-gutter-x)/ 2);
  margin-right: auto;
  width: initial;
  padding-bottom: var(--title-underline-size);
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  max-width: 6rem;
  height: var(--title-underline-size);
  background-color: var(--color-dark-font);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Navigation
================================ */
.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 5px rgb(117 84 84 / 40%);
  justify-content: center;
}

.navbar {
  height: var(--nav-height);
  background-color: white;
  justify-content: center;

  z-index: 100;
  font-weight: bold;
  justify-content: space-between;
  padding-right: 2em;
  padding-left: 2em;
  max-width: 1000px;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  font-family: var(--title-font);
  color: black;
  flex-wrap: nowrap;
  font-size: 24px;

}

.navbar-brand {
  font-family: var(--title-font);
  color: var(--color-primary)
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand img {
  width: 2rem;
  vertical-align: center;
  display: none;
}

@media all and (max-width: 768px) {
  .navbar-brand span {
    display: none;
  }

  .navbar-brand img {
    display: inline-block;
  }
}

/* Hero
================================ */

/* What is Bitcamp?
================================ */

/* Tracks
================================ */

/* Schedule
================================ */

/* FAQ
================================ */

/* Sponsors
================================ */

/* Footer
================================ */
