/* Hey :). Make sure to reference the color variables in the `bitcamp.css` file. Ex:
  - background-color: var(--color-bitcamp);
  - color: var(--color-midnight);
*/

/* Variables
================================== */
:root {
  --border-radius: 15px;
  --color-primary: var(--color-bitcamp);
  --color-starter: #E7D8CC;
  --color-API: #FFAF00;
  --color-recruiter: #FF6312;
  --color-partner: #FF062B;
  --color-category: var(--color-sky);
  --color-light-text: white;
  --color-dark-text: var(--color-midnight);
  --color-border: white;
  --color-focus: cornflowerblue;
  --color-highlight: #FFAF3F;
  --icon-height: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.ScheduleSection {
  padding-top: 100px;
}

.ScheduleSection a {
  text-decoration: none;
  color: var(--color-dark-text);
}

.ScheduleSection a:hover {
  text-decoration: underline;
}

.ScheduleSection img {
  margin-right: 0.75em;
  width: 1em;
  line-height: 0;
}

.very_small_text {
  font-size: 14px !important;
}

.small_text {
  font-size: 20px;
}

.large_text {
  font-size: 40px;
  font: var(--title-font-stack);
}

.schedule_tab {
  padding-top: 20px;
}

.table {
  overflow: auto;
  height: 300px;
  display: block;
}

.tab {
  padding-left: 12%;
  padding-right: 12%;
}

.checkin {
  color: #009051;
}

.mainevent {
  color: #FFAF3F;
}

.workshop {
  color: #528CA5;
}

