/* Hey :). Make sure to reference the color variables in the `bitcamp.css` file. Ex:
  - background-color: var(--color-bitcamp);
  - color: var(--color-midnight);
*/

/* Variables
================================== */
:root {
  --border-radius: 15px;
  --starter-color: #E7D8CC;
  --API-color: #FFAF00;
  --recruiter-color: #FF6312;
  --partner-color: #FF062B;
  --category-color: #CBF2FF;
  --primary-color: #FF6F3F;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Overall Layout
================================== */
section.divided {
  border-top: 7px solid var(--primary-color);
}

main {
  padding: 2rem 0;
}

/* section.divided:first-child {
  border: 0;
} */


/* Typography
================================== */

section.divided h1 {
  font-family: Aleo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: var(--primary-color);
}

/* Tables
================================== */
.Rtable-grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.Rtable-cell {
  flex-grow: 1;
  padding: .5em .5em;
  overflow: hidden;
  border: solid 1px white;
  font-family: Avenir;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cell styles
================================== */
.Rtable-cell--head {
  font-family: Avenir;
  font-weight: 800;
  text-align: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.Rtable-cell-Starter {
  color: #000000;
  background-color: var(--starter-color);
  border-color: white;
}

.Rtable-cell-API {
  color: #000000;
  background-color: var(--API-color);
  border-color: white;
}

.Rtable-cell-Recruiter {
  color: white;
  background-color: var(--recruiter-color);
  border-color: white;
}

.Rtable-cell-Partner {
  color: white;
  background-color: var(--partner-color);
  border-color: white;
}

.Rtable-cell--foot {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  min-height: 30px;
}

.Rtable-cell-blank {
  background-color: transparent;
}

.Rtable-category-cell {
  background-color: var(--category-color);
  font-weight: 400;
  text-align: left;
  justify-content: left;
}

.Rtable-category-cell-full {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  text-align: center;
}

.Rtable-category-cell.title-row {
  font-weight: 800;
  /* TODO: adjust this margin value */
  margin-top: 30px;
  border-top-left-radius: var(--border-radius);
}

.Rtable-category-cell-bottom {
  border-bottom-left-radius: var(--border-radius);
}

/* Responsive
==================================== */
@media all and (max-width: 600px) {
  .Rtable-grid {
    grid-template-columns: 1.75fr 1fr;
    transition: background-color 250ms ease-in-out;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  /* Cell Colors
  ==================================== */
  .Rtable.Starter-active .Rtable-grid {
    background-color: var(--starter-color);
  }

  .Rtable.API-active .Rtable-grid {
    background-color: var(--API-color);
  }

  .Rtable.Partner-active .Rtable-grid {
    background-color: var(--partner-color);
    color: white;
  }

  .Rtable.Recruiter-active .Rtable-grid {
    background-color: var(--recruiter-color);
    color: white;
  }

  /* Cell Styles
  ==================================== */
  .Rtable-cell {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-width: 1.5px;
    border-radius: 0;
  }

  .Rtable-cell.first-row {
    border-top: 0;
  }

  .Rtable-cell.last-row {
    border-bottom: 0;
  }

  .Rtable-category-cell {
    border-radius: 0;
    border-right: 2px solid white;
  }

  .Rtable-category-cell-full {
    border-radius: 0;
  }

  /* Hidden Cells
  ==================================== */
  .Rtable-cell.title-row,
  .Rtable-cell--head,
  .Rtable-cell--foot,
  .hiddenSmall {
    display: none;
  }
}

/* Tab Styling
==================================== */
.Tablist {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
}

@media all and (min-width: 600px) {
  .Tablist {
    display: none;
  }
}

.Tab {
  font-family: Avenir;
  width: 25%;
  text-align: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0.5em 0;
  border: 0;
  border-top: 2px solid transparent;
  font-weight: 800;
  color: #002525;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.Tab.Starter {
  background-color: var(--starter-color);
}

.Tab.API {
  background-color: var(--API-color);
}

.Tab.Recruiter {
  background-color: var(--recruiter-color);
  color: white;
}

.Tab.Partner {
  background-color: var(--partner-color);
  color: white;
}

.Tab:active,
.Tab:hover,
.Tab:focus {
  border: 2px solid cornflowerblue;
  box-shadow: 0px 0px 3px cornflowerblue;
  clip-path: inset(-3px -3px 0px -3px);
  border-bottom: 0;
  outline: 0;
}

.Tab[aria-selected="true"] {
  cursor: default;
}
