/* Hey :). Make sure to reference the color variables in the `bitcamp.css` file. Ex:
  - background-color: var(--color-bitcamp);
  - color: var(--color-midnight);
*/

/* Variables
================================== */
:root {
  --border-radius: 15px;
  --color-starter: #E7D8CC;
  --color-API: #FFAF00;
  --color-recruiter: #FF6312;
  --color-partner: #FF062B;
  --color-category: var(--color-sky);
  --color-primary: var(--color-bitcamp);
  --color-light-text: white;
  --color-dark-text: var(--color-midnight);
  --color-border: white;
  --color-focus: cornflowerblue;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Overall Layout
================================== */
main {
  padding: 2rem 0;
}

hr.divider {
  height: 7px !important;
  opacity: 1;
  color: var(--color-API);
}

/* Typography
================================== */

.SupportSection {
  font-family: Avenir;
  font-size:20px;
  line-height: 27px;
}
.SponsorEmail {
  color: var(--color-recruiter);
  text-decoration: none;
}
.SupportTitle {
  color: black;
}

.ConnectSection a {
  text-decoration: none;
  color:black;
  font-family: Avenir;
  line-height: 36px;
  font-size: 20px;
}

.ConnectSection img {
  margin-right: 5px;
  margin-bottom: 5px;
}

section h1 {
  font-family: Aleo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: var(--color-primary);
}

/* Tables
================================== */
.Rtable-grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.Rtable-cell {
  flex-grow: 1;
  padding: .5em .5em;
  overflow: hidden;
  border: solid 1px var(--color-border);
  font-family: Avenir;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cell styles
================================== */
.Rtable-cell {
  color: var(--color-dark-text);
  border-color: var(--color-light-text);
}

.Rtable-cell p {
  margin: 0;
}

.Rtable-cell--head {
  font-family: Avenir;
  font-weight: 800;
  text-align: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.Rtable-cell-Starter {
  background-color: var(--color-starter);
}

.Rtable-cell-API {
  background-color: var(--color-API);
}

.Rtable-cell-Recruiter {
  color: var(--color-light-text);
  background-color: var(--color-recruiter);
}

.Rtable-cell-Partner {
  color: var(--color-light-text);
  background-color: var(--color-partner);
}

.Rtable-cell--foot {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  min-height: 30px;
  border-bottom: 0;
}

.Rtable-cell-blank {
  background-color: transparent;
}

.Rtable-category-cell {
  background-color: var(--color-category);
  font-weight: normal;
  text-align: left;
  justify-content: left;
}

.Rtable-category-cell-full {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  text-align: center;
}

.Rtable-category-cell.title-row {
  font-weight: 800;
  margin-top: 30px;
  border-top-left-radius: var(--border-radius);
}

.Rtable-category-cell-bottom {
  border-bottom-left-radius: var(--border-radius);
}

/* Responsive
==================================== */
@media all and (max-width: 600px) {
  .Rtable-grid {
    grid-template-columns: 1.75fr 1fr;
    transition: background-color 250ms ease-in-out;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  /* Cell Colors
  ==================================== */
  .Rtable.Starter-active .Rtable-grid {
    background-color: var(--color-starter);
  }

  .Rtable.API-active .Rtable-grid {
    background-color: var(--color-API);
  }

  .Rtable.Partner-active .Rtable-grid {
    background-color: var(--color-partner);
  }

  .Rtable.Recruiter-active .Rtable-grid {
    background-color: var(--color-recruiter);
  }

  .Rtable.Recruiter-active .Rtable-cell,
  .Rtable.Partner-active .Rtable-cell {
    color: var(--color-light-text);
  }

  /* Cell Styles
  ==================================== */
  .Rtable-cell {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-width: 1.5px;
    border-radius: 0;
  }

  .Rtable-cell.first-row {
    border-top: 0;
  }

  .Rtable-cell.last-row {
    border-bottom: 0;
  }

  .Rtable-category-cell {
    border-radius: 0;
    border-right: 2px solid var(--color-border);
  }

  .Rtable-category-cell-full {
    border-radius: 0;
  }

  /* Hidden Cells
  ==================================== */
  .Rtable-cell.title-row,
  .Rtable-cell--head,
  .Rtable-cell--foot,
  .hiddenSmall {
    display: none;
  }
}

/* Tab Styling
==================================== */
.Tablist {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
}

@media all and (min-width: 600px) {
  .Tablist {
    display: none;
  }
}

.Tab {
  font-family: Avenir;
  width: 25%;
  text-align: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0.5em 0;
  border: 0;
  border-top: 2px solid transparent;
  font-weight: 800;
  color: var(--color-dark-text);
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.Tab.Starter {
  background-color: var(--color-starter);
}

.Tab.API {
  background-color: var(--color-API);
}

.Tab.Recruiter {
  background-color: var(--color-recruiter);
  color: var(--color-light-text);
}

.Tab.Partner {
  background-color: var(--color-partner);
  color: var(--color-light-text);
}

.Tab:active,
.Tab:hover,
.Tab:focus {
  border: 2px solid var(--color-focus);
  box-shadow: 0px 0px 3px var(--color-focus);
  clip-path: inset(-3px -3px 0px -3px);
  border-bottom: 0;
  outline: 0;
}

.Tab[aria-selected="true"] {
  cursor: default;
}
