 .wrap {
  max-width: 900px;
  margin: 0 auto;
  font-family: Avenir;
}

.wrap img {
  height: 200px; 
  padding: 10px;  
}

.wrap li {
  line-height: 1.5; 
  height: 600px; 
  padding-right: 25px; 
  padding-left: 25px;
}

.wrap a {
  font-family: 'Roboto';
  font-size: 36px;
  margin-top: 25px;
  text-decoration-line: underline !important;
}

.glide__slide {
  border: 1px solid black;
  line-height: 100px;
  margin: 0;
  text-align: center;
}

.track-head {
  font-family: 'Aleo';
  font-weight: bold;
}

